<div class="row">
  <div class="card ">
    <h4 class="card-header">Event list</h4>
    <div class="card-body">
      <div class="row">
        <div class="col-9 my-5">
  
          <button type="button" class="btn btn-primary col-5 px-5 " data-bs-toggle="modal" data-bs-target="#addEventModal">
            Add Event
          </button>
        </div>
        <div class="col-3 my-5">
          <input class="search" type="text" [(ngModel)]="searchText" placeholder="search" >
        </div>
      </div>
    </div>
    <div class="row">
      <table class="table table-hover-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Tickets</th>
            <th scope="col">Location</th>
            <th scope="col">Photo</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody> 

          <tr *ngFor="let event of events | search:searchText,let i=index">
            <th>{{i+1}} </th>
            <td>{{event.eventName}} </td>
            <td>{{event.price}} </td>
            <td>{{event.availableTicketNumber}} </td>
            <td>{{event.location}} </td>
            <td><img [src]="event.photo" alt="event" width="50px" ></td>
            <td>

              <button class="btn btn-info text-white mx-1 " (click)="showData(event._id) " data-bs-toggle="modal"
              data-bs-target="#updateEventModal"><i class="fas fa-edit"></i></button>
              <button class="btn btn-danger  " (click)="delete(event._id)"><i class="fas fa-trash" style="color:white ;" ></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="addEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-eventname" id="exampleModalLabel">Create Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form *ngIf="eventForm" [formGroup]="eventForm" (ngSubmit)="addEvent()">
              <div class="mb-3 row">
                <label for="eventName" class="col-form-label col-sm-4">Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="eventName" placeholder="EventName"
                  [ngClass]="{'is-valid': submitted &&
                  !eventForm.get('eventName')?.errors,'is-invalid': submitted && eventForm.get('eventName')?.errors}" >
                  </div>
              </div>
                  <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('eventName')?.hasError('required')">
                      E-mail is required
                  </div>
              <div class="mb-3 row">
                <label for="eventDescription" class="col-form-label col-sm-4">Description:</label>
                <div class="col-sm-8">
                  <textarea class="form-control" formControlName="eventDescription"
                    placeholder="EventDescription"  [ngClass]="{'is-valid': submitted &&
                    !eventForm.get('eventDescription')?.errors,'is-invalid': submitted && eventForm.get('eventDescription')?.errors}" >
                  </textarea>
                    </div>
                </div>
                    <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('eventDescription')?.hasError('required')">
                        Description is required
                    </div>
                
              <div class="mb-3 row">
                <label for="startDate" class="col-form-label col-sm-4">StartDate:</label>
                <div class="col-sm-8">
                  <input type="date" class="form-control" formControlName="startDate"  [ngClass]="{'is-valid': submitted &&
                  !eventForm.get('startDate')?.errors,'is-invalid': submitted && eventForm.get('startDate')?.errors}" >
                  </div>
              </div>
                  <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('startDate')?.hasError('required')">
                      Date is required
                  </div>
                
              <div class="mb-3 row">
                <label for="endDate" class="col-form-label col-sm-4">EndDate:</label>
                <div class="col-sm-8">
                  <input type="date" class="form-control" formControlName="endDate" [ngClass]="{'is-valid': submitted &&
                  !eventForm.get('endDate')?.errors,'is-invalid': submitted && eventForm.get('endDate')?.errors}" >
                  </div>
              </div>
                  <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('endDate')?.hasError('required')">
                      Date is required
                  </div>
                
              <div class="mb-3 row">
                <label for="startTime" class="col-form-label col-sm-4">StartTime:</label>
                <div class="col-sm-8">
                  <input type="time" class="form-control" formControlName="startTime" placeholder="StartTime"  [ngClass]="{'is-valid': submitted &&
                  !eventForm.get('startTime')?.errors,'is-invalid': submitted && eventForm.get('startTime')?.errors}" >
                  </div>
              </div>
                  <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('startTime')?.hasError('required')">
                      Time is required
                  </div>
    
              <div class="mb-3 row">
                <label for="endTime" class="col-form-label col-sm-4">EndTime:</label>
                <div class="col-sm-8">
                  <input type="time" class="form-control" formControlName="endTime" placeholder="EndTime"  [ngClass]="{'is-valid': submitted &&
                  !eventForm.get('endTime')?.errors,'is-invalid': submitted && eventForm.get('endTime')?.errors}" >
                  </div>
              </div>
                  <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('endTime')?.hasError('required')">
                      Time is required
                  </div>
              <div class="mb-3 row">
                <label for="photo" class="col-form-label col-sm-4">Photo:</label>
                <div class="col-sm-8">
                  <input type="file" class="form-control"  (change)="selectImage($event)">
                  <img *ngIf="eventForm.value.photo" [src]="eventForm.value.photo">
                </div>
              </div>
              <div class="mb-3 row">
                <label for="price" class="col-form-label col-sm-4">Price:</label>
                <div class="col-sm-8">
                  <input type="Number" class="form-control" formControlName="price" placeholder="Price"  [ngClass]="{'is-valid': submitted &&
                  !eventForm.get('price')?.errors,'is-invalid': submitted && eventForm.get('price')?.errors}" >
                  </div>
              </div>
                  <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('price')?.hasError('required')">
                      Price is required
                  </div>
                
              <div class="mb-3 row">
                <label for="availableTicketNumber" class="bel col-sm-4"> Tickets:</label>
                <div class="col-sm-8">
                  <input type="Number" class="form-control" formControlName="availableTicketNumber"
                    placeholder="AvailableTicketNumber"  [ngClass]="{'is-valid': submitted &&
                    !eventForm.get('availableTicketNumber')?.errors,'is-invalid': submitted && eventForm.get('availableTicketNumber')?.errors}" >
                    </div>
                </div>
                    <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('availableTicketNumber')?.hasError('required')">
                        Number is required
                    </div>
                
              <div class="mb-3 row">
                <label for="eventType" class="col-form-label col-sm-4">Type:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="eventType" placeholder="type"  [ngClass]="{'is-valid': submitted &&
                  !eventForm.get('eventType')?.errors,'is-invalid': submitted && eventForm.get('eventType')?.errors}" >
                  </div>
              </div>
                  <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('eventType')?.hasError('required')">
                      Type is required
                  </div>
              
              <div class="mb-3 row">
                <label for="location" class="col-form-label col-sm-4">Location:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" formControlName="location" placeholder="location"  [ngClass]="{'is-valid': submitted &&
                  !eventForm.get('location')?.errors,'is-invalid': submitted && eventForm.get('location')?.errors}" >
                  </div>
              </div>
                  <div class="invalid-feedback d-block" *ngIf=" submitted && eventForm.get('location')?.hasError('required')">
                      Location is required
                  </div>
                

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="updateEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-eventname" id="exampleModalLabel">Update Event</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form *ngIf="eventForm" [formGroup]="eventForm" (ngSubmit)="update()">
                <div class="mb-3 row">
                  <label for="eventName" class="col-form-label col-sm-4">EventName:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="eventName" placeholder="EventName">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="eventDescription" class="col-form-label col-sm-4">EventDescription:</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" formControlName="eventDescription"
                      placeholder="EventDescription"></textarea>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="startDate" class="col-form-label col-sm-4">StartDate:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" formControlName="startDate" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="endDate" class="col-form-label col-sm-4">EndDate:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" formControlName="endDate" pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="startTime" class="col-form-label col-sm-4">StartTime:</label>
                  <div class="col-sm-8">
                    <input type="time" class="form-control" formControlName="startTime" placeholder="StartTime">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="endTime" class="col-form-label col-sm-4">EndTime:</label>
                  <div class="col-sm-8">
                    <input type="time" class="form-control" formControlName="endTime" placeholder="EndTime">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="photo" class="col-form-label col-sm-4">Photo:</label>
                  <div class="col-sm-8">
                    <input type="file" class="form-control"  (change)="selectImage($event)" placeholder="Photo" accept="image/*">
                  </div>
                  <img *ngIf="eventForm.value.photo" [src]="eventForm.value.photo">
                </div>
                <div class="mb-3 row">
                  <label for="price" class="col-form-label col-sm-4">Price:</label>
                  <div class="col-sm-8">
                    <input type="Number" class="form-control" formControlName="price" placeholder="price">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="availableTicketNumber" class="col-form-label col-sm-4"> availableTicketNumber:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="availableTicketNumber"
                      placeholder="availableTicketNumber">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="eventType" class="col-form-label col-sm-4">EventType:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="eventType" placeholder="EventType">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="location" class="col-form-label col-sm-4">Location:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="location" placeholder="Location">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>

</div>