<div class="reservation">
    <div class="reservation-container">
        <div class="row firstRow">
            <div class="image-container col-8">
                <img [src]="event?.photo" alt="photo" width="100%" height="100%">
            </div>
            <div class="event-event col-4">
                <div class="event-name-container">
                    <div>{{event?.startDate | date : 'MMMM'}}</div>
                    <div>{{event?.startDate | date : 'dd'}}</div>
                    <div style="padding-top: 64px;">
                        <h1>
                            {{event?.eventName}}
                        </h1>
                    </div>
                </div>
                <div class="event-type-container">
                    <h5 *ngIf="event?.eventType == 'Paid'">
                        Price:  
                        <span > {{event?.price | currency: 'TND '}}</span>
                    </h5>
                    <h5 *ngIf="event?.eventType == 'Free'">
                        Free
                    </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4"></div>
            <div class="col-4 float-right">
                <button class="btn btn-success col-11" [routerLink]="['reservation']">Reservation</button>
            </div>
        </div>
        <div class="row">
            <div class="about-event-container col-8">
                <h1>About this Event :</h1>
                <h2>{{event?.eventName}}</h2>
                <p>{{event?.eventDescription}}</p>
            </div>
            <div class="col-4">
                <div class="date-event-container">
                    <h4>Date and Time :</h4>
                    <p>from : {{event?.startDate | date: 'E, MMMM d, y,'}} {{event?.startTime | date: 'HH:mm'}}</p>
                    <p>to : {{event?.endDate | date: 'E, MMMM d, y,'}} {{event?.endTime | date: 'HH:mm'}}</p>
                </div>
                <hr>
                <div class="ticket-event-container">
                    <h4>Ticket Number :</h4>
                    <p *ngIf="event?.availableTicketNumber==0" style="color:red;font-size:25px">All tickets are SOLD!</p>
                    <p *ngIf="event?.availableTicketNumber!==0">{{event?.availableTicketNumber}}</p>
                </div>
                <hr>
                <div class="location-event-container">
                    <h4>Location :</h4>
                    <p>{{event?.location}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
   
