
  <div class="row">

<div class="card ">
  <h4 class="card-header">Company list</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-9 my-5">

        <button type="button" class="btn btn-primary col-5 px-5 " data-bs-toggle="modal" data-bs-target="#addCompanyModal">
          Add Company
        </button>
      </div>
  
  
      <div class="col-3 my-5">
        <input class="search" type="text" [(ngModel)]="searchText" placeholder="search" >
      </div>
    </div>
  </div>

      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">email</th>
              <th scope="col">role</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let company of companies | search:searchText; let i=index">
              <th>{{i+1}} </th>
              <td>{{company.companyName}} </td>
              <td>{{company.email}} </td>
              <td>{{company.role}} </td>
              <td>
                <button class="btn btn-danger" (click)="delete(company._id)"><i class="fas fa-trash" style="color:white ;" ></i></button>
                <button class="btn btn-info text-white" (click)="showData(company._id) " data-bs-toggle="modal"
                  data-bs-target="#updateCompanyModal"><i class="fas fa-edit"></i></button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="modal fade" id="addCompanyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-eventname" id="exampleModalLabel">Create Company</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="addCompany()">
                <div class="mb-3 row">
                  <label for="companyName" class="col-form-label col-sm-4">Name:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="companyName" placeholder="Name"  [ngClass]="{'is-valid': submitted &&
                    !companyForm.get('companyName')?.errors,'is-invalid': submitted && companyForm.get('companyName')?.errors}" >
                    </div>
                </div>
                    <div class="invalid-feedback d-block" *ngIf=" submitted && companyForm.get('companyName')?.hasError('required')">
                        Name is required
                    </div>
                  
                <div class="mb-3 row">
                  <label for="companyDescription" class="col-form-label col-sm-4">Description:</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" formControlName="companyDescription"
                      placeholder="Description"  [ngClass]="{'is-valid': submitted &&
                      !companyForm.get('companyDescription')?.errors,'is-invalid': submitted && companyForm.get('companyDescription')?.errors}" ></textarea>
                      </div>
                  </div>
                      <div class="invalid-feedback d-block" *ngIf=" submitted && companyForm.get('companyDescription')?.hasError('required')">
                          Description is required
                      </div>
                  
                <div class="mb-3 row">
                  <label for="email" class="col-form-label col-sm-4">E-mail:</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" formControlName="email" placeholder="E-mail"  [ngClass]="{'is-valid': submitted &&
                    !companyForm.get('email')?.errors,'is-invalid': submitted && companyForm.get('email')?.errors}" >
                    </div>
                </div>
                    <div class="invalid-feedback d-block" *ngIf=" submitted && companyForm.get('email')?.hasError('required')">
                      Email is required
                    </div>
            
                <div class="mb-3 row">
                  <label for="password" class="col-form-label col-sm-4">Password:</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" formControlName="password" placeholder="password"  [ngClass]="{'is-valid': submitted &&
                    !companyForm.get('password')?.errors,'is-invalid': submitted && companyForm.get('password')?.errors}" >
                    </div>
                </div>
                    <div class="invalid-feedback d-block" *ngIf=" submitted && companyForm.get('password')?.hasError('required')">
                        Password is required
                    </div>
                
                <div class="mb-3 row">
                  <label for="role" class="col-form-label col-sm-4">Role:</label>
                  <div class="col-sm-8">
                    <select class="form-select" formControlName="role">
                      <option selected>Open this select menu</option>
                      <option value="Admin">Admin</option>
                      <option value="Super_admin">Super admin</option>

                    </select>

                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="photo" class="col-form-label col-sm-4">Photo:</label>
                  <div class="col-sm-8">
                    <input type="file" class="form-control" (change)="selectImage($event)" placeholder="Photo"
                      accept="image/*"  [ngClass]="{'is-valid': submitted &&
                      !companyForm.get('photo')?.errors,'is-invalid': submitted && companyForm.get('photo')?.errors}" >
                      </div>
                  </div>
                      <div class="invalid-feedback d-block" *ngIf=" submitted && companyForm.get('photo')?.hasError('required')">
                          Time is required
                      </div>
                      <div class="event-img">
                        <img src="companyForm.value.photo" alt="" />
                    </div>
                  <img *ngIf="companyForm.value.photo" [src]="companyForm.value.photo">
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="updateCompanyModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-eventname" id="exampleModalLabel">Update Company</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form *ngIf="companyForm" [formGroup]="companyForm" (ngSubmit)="update()">
                <div class="mb-3 row">
                  <label for="companyName" class="col-form-label col-sm-4">CompanyName:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="companyName" placeholder="EventName">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="companyDescription" class="col-form-label col-sm-4">CompanyDescription:</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" formControlName="companyDescription"
                      placeholder="companyDescription"></textarea>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="email" class="col-form-label col-sm-4">E-mail:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="email" placeholder="E-mail">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="password" class="col-form-label col-sm-4">Password:</label>
                  <div class="col-sm-8">
                    <input type="password" class="form-control" formControlName="password" placeholder="password">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="role" class="col-form-label col-sm-4">Role:</label>
                  <div class="col-sm-8">
                    <select class="form-select" formControlName="role">
                      <option selected>Open this select menu</option>
                      <option value="Admin">Admin</option>
                      <option value="Super_admin">Super admin</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="photo" class="col-form-label col-sm-4">Photo:</label>
                  <div class="col-sm-8">
                    <input type="file" class="form-control" (change)="selectImage($event)" placeholder="Photo"
                      accept="image/*">
                  </div>
                  <img *ngIf="companyForm.value.photo" [src]="companyForm.value.photo">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
            