<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Login Form</h3>
<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{'is-valid': submitted &&
            !loginForm.get('email')?.errors,'is-invalid': submitted && loginForm.get('email')?.errors}" >
            </div>
            <div class="invalid-feedback d-block" *ngIf=" submitted && loginForm.get('email')?.hasError('required')">
                E-mail is required
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" formControlName="password" class="form-control" [ngClass]="{'is-valid': submitted &&
            !loginForm.get('password')?.errors,'is-invalid': submitted && loginForm.get('password')?.errors}" >
            </div>
            <div class="invalid-feedback d-block" *ngIf=" submitted && loginForm.get('password')?.hasError('required')">
                Password is required
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login </button>
                <p class="text-center text-muted mt-5 mb-0">You forget your password? <a [routerLink]="['/forget-password']" class="fw-bold text-body"><u>Click here</u></a></p>
            </div>
        </form>
    </div>
</div>
            </div>
          </div></div></div></div></section>