    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
<div class="card">
    <h4 class="card-header">Reset Password</h4>

    <div class="card-body">
        <form *ngIf="resetForm" [formGroup]="resetForm" (ngSubmit)="reset()">
            <div class="mb-3 row">
                <label for="password" class="col-form-label col-sm-4">Password:</label>
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div class="mb-3 row">

                <label for="confirm" class="col-form-label col-sm-4">Confirm Password:</label>
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                         
                </div>
            
            <div class="mb-3 row">
                    <button type="submit" class="btn btn-info" >Submit</button>
                </div>
            
        </form>
    </div>
</div>
