<div class="card">
    <h4 class="card-header">Reset Password</h4>

    <div class="card-body">
        <form *ngIf="resetForm" [formGroup]="resetForm" (ngSubmit)="reset()">
            <div class="mb-3 row">
                <label for="password" class="col-form-label col-sm-2">Password:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
               
            </div>
            <div class="mb-3 row">
                <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
                <div class="col-md-5">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
               
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
