<div class="card">
    <h4 class="card-header">Forget Password</h4>

    <h6>Please enter your email address or mobile number to find your account</h6>
    <div class="card-body">
        <form *ngIf="forgetForm" [formGroup]="forgetForm" (ngSubmit)="forget()">
            <div class="mb-3 row">
                <label for="email" class="col-form-label col-sm-2">Email:</label>
                <div class="col-md-5">
                    <input type="email" id="email" formControlName="email" class="form-control" />
                </div>
               
            </div>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!forgetForm.valid">Submit</button>               
                </div>
            </div>
        </form>
    </div>
</div>
