<div class="card">
    <h4 class="card-header">retrouver votre compte</h4>
    <h6>Veuillez entrer votre adresse e-mail <br>ou
         votre numéro de mobile pour rechercher votre compte.</h6>
    <div class="card-body">
        
                <input type="text" formControlName="username"> 
            <div class="form-group">
                <button  class="btn btn-primary" type="submit" (ngSubmit)="rechercher()" >Rechercher
                <button  class="btn btn-secondary"   >Annuler</button>
            </button>
            </div>
