<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Forget password</h3>
<div class="card">
    <h4 class="card-header">Forget Password</h4>

    <h6>Please enter your email address<br> or mobile number to find your account</h6>
    <div class="card-body">
        <form *ngIf="forgetForm" [formGroup]="forgetForm" (ngSubmit)="forget()">
            <div class="mb-3 row">
                <label for="email" class="col-form-label col-sm-2">Email:</label>
                <div class="col-md-5">
                    <input type="email" id="email" formControlName="email" class="form-control" />
                </div>
               
            </div>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn btn-info" [disabled]="!forgetForm.valid">Submit</button>               
                </div>
            </div>
        </form>
    </div>
</div>
